@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

body {
}

.customDrop {
    background: #211f1f;
    color: #808080;
    margin : 10px 10px;
}

.customLabel {
    padding: 1px 1px 1px 200px;
}

.logOut {
    padding: 1px 1px 1px 100px;
}